<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="category"
		label="COM_CATEGORY_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_CATEGORY_CONFIG_GREETING_SETTINGS_DESC">

		<field
			name="image_width"
			type="text"
			label="COM_CATEGORY_CATEGORY_WIDTH_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_CATEGORY_CATEGORY_WIDTH_FIELD_SHOW_CATEGORY_DESC"
		>
		</field>

		<field
			name="image_height"
			type="text"
			label="COM_CATEGORY_CATEGORY_HEIGHT_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_CATEGORY_CATEGORY_HEIGHT_FIELD_SHOW_CATEGORY_DESC"
		>
		</field>
		<field
            name="slidshow"
            type="radio"
            class="btn-group btn-group-yesno"
            default="1"
            label="COM_CATEGORY_PRODUCT_SLID_LABEL"
            description="COM_CATEGORY_CATEGORY_PUBLISHED_LABEL">
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>
        <field
			name="pagination"
			type="list"
			label="COM_CATEGORY_CATEGORY_PRODUCT_PAGINATION_LABEL"
			description="COM_CATEGORY_CATEGORY_PRODUCT_PAGINATION_DESC"
		>
		<option value="4"> 4 </option>
		<option value="8"> 8 </option>
		<option value="12"> 12 </option>
		<option value="16"> 16 </option>
		<option value="20"> 20 </option>
		</field>
	</fieldset>
</config>